.bg-primary { background-color: $primary-color !important; }
.bg-secondary { background-color: $secondary-color !important; }
.bg-success { background-color: $success-color !important; }
.bg-danger { background-color: $danger-color !important; }
.bg-warning { background-color: $warning-color !important; }
.bg-info { background-color: $info-color !important; }
.bg-light { background-color: $light-color !important; }
.bg-dark { background-color: $dark-color !important; }
.bg-white { background-color: white !important; }
.bg-transparent { background-color: transparent !important; }

.border-primary { border-color: $primary-color !important; }
.border-secondary { border-color: $secondary-color !important; }
.border-success { border-color: $success-color !important; }
.border-danger { border-color: $danger-color !important; }
.border-warning { border-color: $warning-color !important; }
.border-info { border-color: $info-color !important; }
.border-light { border-color: $light-color !important; }
.border-dark { border-color: $dark-color !important; }
.border-white { border-color: white !important; } 